.blah {
    color: black;
    font-size: 3rem;
    line-height: 3rem;
    padding-top: 10px;
}

p{
    font-family: 'Lato';
}

#email{
    width: 40%;
    /* border-color: #F09F9F; */
    box-shadow: none;
    border-radius: 2px;
    color: white;
    border: none;
    background-color: #F09F9F;
    line-height: 3rem;
    font-size: 20px;
    
}

#emailblue{
    width: 40%;
    /* border-color: #F09F9F; */
    box-shadow: none;
    border-radius: 2px;
    color: white;
    border: none;
    background-color: #1A83FF;
    line-height: 3rem;
    font-size: 20px;
    
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    padding-left: 5px;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    padding-left: 5px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    padding-left: 5px;
  }

.submit-button {
    display: inline;
    width: auto;
    line-height: 3rem;
    font-size: 20px;
    border: none;
    background-color: #1A83FF;
    color: #ffffff;
    border-radius: 4px;
}

.submit-buttonpink {
    display: inline;
    width: auto;
    line-height: 3rem;
    font-size: 20px;
    border: none;
    background-color: #F09F9F;
    color: #ffffff;
    border-radius: 4px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    body{
        padding-left: 7rem;
        padding-right: 7rem;
    }
  }

  @media (max-width: 991px) {
    body{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #email {
        width:100%;
        margin-bottom:5px;
    }
    #emailblue {
        width:100%;
        margin-bottom:5px;
    }

    .blah {
        font-size: 1.8rem;
        line-height: 2rem;
    }
  }

.blah2 {
    font-size: 1.5rem;
    font-family: 'Lato';
    color: black;

}

.block {
    display: inline-block;
    vertical-align: middle;
}
.block-right {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.blah3 {
    font-size: 1.3rem;
    font-family: 'Lato';
    color: black;
    /* margin-top: 15px; */

}

.paragraph {
    color: black;
}
.input,
.textarea {
    border-width: 1px;
    border-style: solid;
    /* border-color:  */
    /* color: color(typography, 2); */
    max-width: 100%;
    width: 100%;
}
